@model AseguradosAPI.Models.Users

<h2>Login</h2>
<form asp-action="Login" method="post">
    <div class="form-group">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UserPassword"></label>
        <input asp-for="UserPassword" type="password" class="form-control" />
        <span asp-validation-for="UserPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
@{
    var errorMessage = ViewData.ModelState.Values.SelectMany(v => v.Errors).Select(e => e.ErrorMessage).FirstOrDefault();
}

@if (!string.IsNullOrEmpty(errorMessage))
{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <script>
        Swal.fire({
            icon: 'error',
            title: 'Error',
            text: '@errorMessage'
        });
    </script>
}